
.music{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 999999999;
    background: url("../images/music.png") no-repeat ;
        }
.music.play{
  -webkit-animation: rotate 3s infinite linear;animation: rotate 3s infinite linear;
}
/*旋转*/
@-webkit-keyframes rotate {
  100%{
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}