 body,#animation_container{background:#f9f3ee;height: 100%;overflow: hidden;}

.music{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 999999999;
    background: url("../images/music.png") no-repeat ;
        }
.music.play{
  -webkit-animation: rotate 3s infinite linear;animation: rotate 3s infinite linear;
}